In [1]:
import pandas as pd

In [2]:
data=pd.read_excel(r'C:\Users\ERIA\AppData\Local\Microsoft\Windows\INetCache\Content.MSO\Copy of Online Retail.xlsx')
%time

Wall time: 0 ns

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [4]:
data.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [5]:
data.shape

(541909, 8)

In [6]:
data['CustomerID']=data['CustomerID'].dropna()

In [7]:
data.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [8]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [9]:
data.CustomerID=data.CustomerID.round()

In [10]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [11]:
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [12]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [13]:
#Changing Column Order
nw=['CustomerID','Quantity','UnitPrice','InvoiceNo','InvoiceDate','StockCode','Description','Country']

#checking if order matches
set(data.columns)==set(nw)

True

In [14]:
#set new column order

df=data[nw]
df.head()

,CustomerID,Quantity,UnitPrice,InvoiceNo,InvoiceDate,StockCode,Description,Country
0,17850.0,6,2.55,536365,2010-12-01 08:26:00,85123A,WHITE HANGING HEART T-LIGHT HOLDER,United Kingdom
1,17850.0,6,3.39,536365,2010-12-01 08:26:00,71053,WHITE METAL LANTERN,United Kingdom
2,17850.0,8,2.75,536365,2010-12-01 08:26:00,84406B,CREAM CUPID HEARTS COAT HANGER,United Kingdom
3,17850.0,6,3.39,536365,2010-12-01 08:26:00,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,United Kingdom
4,17850.0,6,3.39,536365,2010-12-01 08:26:00,84029E,RED WOOLLY HOTTIE WHITE HEART.,United Kingdom

In [15]:
df.dtypes

CustomerID            float64
Quantity                int64
UnitPrice             float64
InvoiceNo              object
InvoiceDate    datetime64[ns]
StockCode              object
Description            object
Country                object
dtype: object

In [16]:
df.CustomerID.value_counts()

17841.0    7983
14911.0    5903
14096.0    5128
12748.0    4642
14606.0    2782
           ...
15070.0       1
15753.0       1
17065.0       1
16881.0       1
16995.0       1
Name: CustomerID, Length: 4372, dtype: int64

In [17]:
df.CustomerID=df.CustomerID.convert_dtypes('int64')

In [18]:
df.head()

,CustomerID,Quantity,UnitPrice,InvoiceNo,InvoiceDate,StockCode,Description,Country
0,17850,6,2.55,536365,2010-12-01 08:26:00,85123A,WHITE HANGING HEART T-LIGHT HOLDER,United Kingdom
1,17850,6,3.39,536365,2010-12-01 08:26:00,71053,WHITE METAL LANTERN,United Kingdom
2,17850,8,2.75,536365,2010-12-01 08:26:00,84406B,CREAM CUPID HEARTS COAT HANGER,United Kingdom
3,17850,6,3.39,536365,2010-12-01 08:26:00,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,United Kingdom
4,17850,6,3.39,536365,2010-12-01 08:26:00,84029E,RED WOOLLY HOTTIE WHITE HEART.,United Kingdom

In [19]:
df[df.duplicated()]

,CustomerID,Quantity,UnitPrice,InvoiceNo,InvoiceDate,StockCode,Description,Country
517,17908,1,1.25,536409,2010-12-01 11:45:00,21866,UNION JACK FLAG LUGGAGE TAG,United Kingdom
527,17908,1,2.10,536409,2010-12-01 11:45:00,22866,HAND WARMER SCOTTY DOG DESIGN,United Kingdom
537,17908,1,2.95,536409,2010-12-01 11:45:00,22900,SET 2 TEA TOWELS I LOVE LONDON,United Kingdom
539,17908,1,4.95,536409,2010-12-01 11:45:00,22111,SCOTTIE DOG HOT WATER BOTTLE,United Kingdom
555,17920,1,2.95,536412,2010-12-01 11:49:00,22327,ROUND SNACK BOXES SET OF 4 SKULLS,United Kingdom
...,...,...,...,...,...,...,...,...
541675,14446,1,0.39,581538,2011-12-09 11:34:00,22068,BLACK PIRATE TREASURE CHEST,United Kingdom
541689,14446,1,2.49,581538,2011-12-09 11:34:00,23318,BOX OF 6 MINI VINTAGE CRACKERS,United Kingdom
541692,14446,1,1.95,581538,2011-12-09 11:34:00,22992,REVOLVER WOODEN RULER,United Kingdom
541699,14446,1,2.10,581538,2011-12-09 11:34:00,22694,WICKER STAR,United Kingdom
541701,14446,1,2.08,581538,2011-12-09 11:34:00,23343,JUMBO BAG VINTAGE CHRISTMAS,United Kingdom

In [26]:
df.isna().sum()

CustomerID     135080
Quantity            0
UnitPrice           0
InvoiceNo           0
InvoiceDate         0
StockCode           0
Description      1454
Country             0
dtype: int64

In [ ]:
df.CustomerID.fillna()